<app-header></app-header>
<div class="container-fluid">
    
    <div class="container" style="margin-top: 30px; ">
        <div class="row">
            <div class="col-sm-7" style="background-color: #e5ebe8; padding-bottom: 30px;">
                <div class=" d-flex justify-content-between mt-4 ">
                    <div class="col-sm-4 d-flex">
                        <button class="btn btn-primary fomat">Banh</button>
                        <button class="btn btn-primary fomat">Nuoc</button>
                    </div>
                    <div class="col-sm-4 d-flex">
                        <select name="" id="">
                            <option value="1">Lọc theo giá tăng dần</option>
                            <option value="1">Lọc theo giá giám dần</option>
                            <option value="1">Lọc theo tên A - Z</option>
                            <option value="1">Lọc theo tên Z - A</option>


                        </select>
                        <span class="ml-3" style="border: 1px soild #534543;"><i class="fa fa-filter"></i></span>
                    </div>

                </div>
                <div class="mt-4 d-flex pl-4 ">
                    <article class="box_">
                        <a href="#">
                            <div class="img_box">
                                <img src="./../../../../../assets/img/banhmi.jpg" alt="123"
                                    style="width: 90%; height: 150px;">
                            </div>
                            <div class="text-center">
                                <span>banh mi</span>
                            </div>
                            <div class="text-center">
                                <span>10000 VND</span>
                            </div>
                        </a>
                    </article>
                    <article class="box_">
                        <a href="#">
                            <div class="img_box">
                                <img src="./../../../../../assets/img/banhmi.jpg" alt="123"
                                    style="width: 90%; height: 150px;">
                            </div>
                            <div class="text-center">
                                <span>banh mi</span>
                            </div>
                            <div class="text-center">
                                <span>10000 VND</span>
                            </div>
                        </a>
                    </article>
                    <article class="box_">
                        <a href="#">
                            <div class="img_box">
                                <img src="./../../../../../assets/img/banhmi.jpg" alt="123"
                                    style="width: 90%; height: 150px;">
                            </div>
                            <div class="text-center">
                                <span>banh mi</span>
                            </div>
                            <div class="text-center">
                                <span>10000 VND</span>
                            </div>
                        </a>
                    </article>



                </div>
                <div class="mt-4 d-flex pl-4">
                    <article class="box_">
                        <a href="#">
                            <div class="img_box">
                                <img src="./../../../../../assets/img/banhmi.jpg" alt="123"
                                    style="width: 90%; height: 150px;">
                            </div>
                            <div class="text-center">
                                <span>banh mi</span>
                            </div>
                            <div class="text-center">
                                <span>10000 VND</span>
                            </div>
                        </a>
                    </article>
                    <article class="box_">
                        <a href="#">
                            <div class="img_box">
                                <img src="./../../../../../assets/img/banhmi.jpg" alt="123"
                                    style="width: 90%; height: 150px;">
                            </div>
                            <div class="text-center">
                                <span>banh mi</span>
                            </div>
                            <div class="text-center">
                                <span>10000 VND</span>
                            </div>
                        </a>
                    </article>
                    <article class="box_">
                        <a href="#">
                            <div class="img_box">
                                <img src="./../../../../../assets/img/banhmi.jpg" alt="123"
                                    style="width: 90%; height: 150px;">
                            </div>
                            <div class="text-center">
                                <span>banh mi</span>
                            </div>
                            <div class="text-center">
                                <span>10000 VND</span>
                            </div>
                        </a>
                    </article>


                </div>
            </div>





            <div class="col-sm-5 oder"
                style="background-color: cadetblue; padding-bottom: 20px; margin: 0; padding-left: 10px; padding-right: 10px; position: relative;">
                <div class="mt-sm-2">
                    <form class="form">
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" placeholder="Tìm khách hàng">
                        </div>
                    </form>
                    <div class="mt-sm-2">
                        <button class="btn btn-primary fomat">Chọn bàn</button>
                        <button class="btn btn-primary fomat">Mang đi</button>

                    </div>
                </div>
                <div class="table mt-sm-2" style="margin-top: 5px;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Tên</th>
                                <th class="text-center">
                                    <button class="button_icon"><i class="fa fa-minus " aria-hidden="true"></i></button>
                                    Số lượng
                                <button class="button_icon"><i class="fa fa-plus "> </i></button>
                                </th>
                                <th>Giá</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="hoverCol">
                                <td>Bánh mì</td>
                                <td style="text-align: center;">1</td>
                                <td>10000</td>
                            </tr>
                            <tr>
                                <td>...</td>
                                <td style="text-align: center;">...</td>
                                <td>...</td>
                            </tr>
                            <tr>
                                <td>...</td>
                                <td style="text-align: center;">...</td>
                                <td>...</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="cart text-center">
                    <span><b>Giỏ hàng</b></span>
                </div>
                <div>

                </div>
                <div class="d-flex justify-content-center payment">
                    <button class="btn btn-primary">Thanh toán</button>
                    <button class="btn btn-primary">Thông Báo</button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>