<div class="row">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between w-90">
            <div class=" nav navbar-header">
                <div class="nav navbar-brand">
                    <img src="../../../../../assets/img/logo.png" height="50px" width="100px" alt="Logo">
                </div>
            </div>
            <div class="col-sm-4 search">

                <form class="form-inline">
                    <input class="form-control mr-sm-3 w-90" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <div class="col-sm-3 mr-sm-2 nav navbar-btn d-flex">
                <div class=" content d-flex">
                    <button class="btn btn-primary">Số lượng khách</button>
                    <button class="btn btn-primary">Hóa đơn </button>
                    <button class="btn btn-primary add"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
            </div>

            <div class="col-sm-1 nav navbar-btn">
                <button class="btn btn-primary option"><i class="fa fa-plus" aria-hidden="true"></i></button>
                <button class="btn btn-primary option"><i class="fa fa-plus" aria-hidden="true"></i></button>
                <button class="btn btn-primary option"><i class="fa fa-plus" aria-hidden="true"></i></button>
                <button class="btn btn-primary option"><i class="fa fa-plus" aria-hidden="true"></i></button>
            </div>
            <div class="col-sm-1 d-flex">
                <a class="navbar-brand "><span>Khanh</span></a>
                <div class="dropdown">
                    <button type="button" class="btn btn-primary" data-toggle="dropdown">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu">

                        <a class="dropdown-item" href="#"><i class="fa fa-user pa_size"></i>Tai khoan</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-users pa_size" aria-hidden="true"></i>Quan ly</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-braille pa_size" aria-hidden="true"></i>Lap bao cao</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-pie-chart pa_size" aria-hidden="true"></i>Hien thi</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-sign-out pa_size" aria-hidden="true"></i>Dang xuat</a>
                    </div>
                </div>
            </div>


        </nav>


    </div>
