<app-header></app-header>
<div class="container">
    <div class="search-bar">
        
    </div>
    <div class=" row justify-content-around">
        <div class="filter col-md-3">
            <div >
                
                <div class="filter-type">
                    <ul>
                        <p class="type">Loc 1</p>
                        <li><input type="checkbox"><label>Option 1</label></li>
                        <li><input type="checkbox"><label>Option 2</label></li>
                        <li><input type="checkbox"><label>Option 3</label></li>
    
                    </ul>
                </div>
                <div class="filter-type">
                    <ul>
                        <p class="type">Loc 2</p>
                        <li><input type="checkbox"><label>Option 1</label></li>
                        <li><input type="checkbox"><label>Option 2</label></li>
                        <li><input type="checkbox"><label>Option 3</label></li>
    
                    </ul>
                </div>
                <div class="filter-type">
                    <ul>
                        <p class="type">Loc 3</p>
                        <li><input type="checkbox"><label>Option 1</label></li>
                        <li><input type="checkbox"><label>Option 2</label></li>
                        <li><input type="checkbox"><label>Option 3</label></li>
    
                    </ul>
                </div>
            </div>
        </div>  
        <div class="content col-md-8">
            <div class="row mb-2">
                <div class="col-md mt-1">
                    <input type="text" placeholder="Tìm kiếm"  class="form-control search">
                    <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                    
                </div>
                <div class="col-md-auto justify-content-end mt-1">
                    <button class="btn text-white color-green mr-1">+</button>
                    <button class="btn text-white color-blue"><i class="fa fa-filter" aria-hidden="true"> </i> Lọc
                    </button>
                </div>
            </div>
            <table class="table table-borderless table-striped ">
                <thead>
                    <tr class="color-blue">
                        <th>
                            <input type="checkbox"  [(ngModel)]="masterSelected" value="m1" (change)="checkUncheckAll()"  class="checkAll">
                        </th>
                        <th scope="col">field 1</th>
                        <th scope="col">field 2</th>
                        <th scope="col">field 3</th>
                        <th scope="col">field 4</th>
                        <th scope="col">field 5</th>
                        <th scope="col">field 6</th>                
                    </tr>    
                </thead>
                <tbody>
                    <tr  *ngFor="let item of checklist">
                        <td>
                            <input type="checkbox" [(ngModel)]="item.isSelected" name="list_name" value="{{item.id}}"
                            (change)="isAllSelected()" class="checkContent">
                        </td>
                        <td>{{item.value}} </td>
                        <td>content 2 </td>
                        <td>content 3 </td>
                        <td>content 4 </td>
                        <td>content 5 </td>
                        <td>content 6 </td>
                    </tr>
                   
                </tbody>
                
            </table>
            <div class="col-md-8">
                <code>{{checkedList}}</code>
              </div>
        </div>
    </div>
   
</div>