<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <!-- or -->
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
  <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>

<body class="app sidebar-mini rtl">

  <app-header-admin></app-header-admin>
  <app-side-bar-admin></app-side-bar-admin>

  <main class="app-content">
    <div class="row">
      <div class="col-md-12">
        <div class="app-title">
          <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><a href="#"><b>Bảng điều khiển</b></a></li>
          </ul>
          <div id="clock"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <!--Left-->
      <!-- <div class="col-md-12 col-lg-6"> -->
      <div class="row">
        <!-- col-6 -->
        <div class="col-md-3">
          <div class="widget-small primary coloured-icon"><i class='icon bx bxs-user-account fa-3x'></i>
            <div class="info">
              <h4>Tổng hoá đơn</h4>
              <p><b>{{totalOrder}}</b></p>
              <p class="info-tong">Tổng số hoá đơn được thực hiện.</p>
            </div>
          </div>
        </div>
        <!-- col-6 -->
        <div class="col-md-3">
          <div class="widget-small info coloured-icon"><i class='icon bx bxs-data fa-3x'></i>
            <div class="info">
              <h4>Tổng sản phẩm</h4>
              <p><b>{{totalProduct}}</b></p>
              <p class="info-tong">Tổng số sản phẩm được quản lý.</p>
            </div>
          </div>
        </div>
        <!-- col-6 -->
        <div class="col-md-3">
          <div class="widget-small warning coloured-icon"><i class='icon bx bxs-shopping-bags fa-3x'></i>
            <div class="info">
              <h4>Số nhân viên</h4>
              <p><b>{{totalStaff}}</b></p>
              <p class="info-tong">Số nhân viên đang làm việc trong cửa hàng.</p>
            </div>
          </div>
        </div>
        <!-- col-6 -->
        <div class="col-md-3">
          <div class="widget-small danger coloured-icon"><i class='icon bx bxs-error-alt fa-3x'></i>
            <div class="info">
              <h4>Tổng doanh thu</h4>
              <p><b>{{totalMoneyInMonth}}</b></p>
              <p class="info-tong">hiển thị doanh thu đạt được trong tháng.</p>
            </div>
          </div>
        </div>

        <!-- / col-12 -->
      </div>
      <!-- </div> -->
      <!--END left-->
      <!--Right-->
      <div class="col-md-12 col-lg-12">
        <div class="row">
          <div class="col-md-6">
            <div class="tile">
              <h3 class="tile-title">Thống kê bán hàng 5 tháng gần nhất</h3>

              <div id="chartContainer" style="height: 370px; width: 100%; margin:auto;"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="tile">
              <h3 class="tile-title">Thống kê 6 tháng doanh thu</h3>

              <div id="chartContainer1" style="height: 370px; width: 100%; margin:auto;"></div>
              <div id="chartContainer2" style="height: 370px; width: 100%; margin:auto;"></div>
            </div>
          </div>
        </div>

      </div>
      <!--END right-->
    </div>



  </main>
  <!-- <div id="chartContainer" style="height: 370px; width: 100%; margin:auto;"></div> -->
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>

</html>