<app-header-home></app-header-home>
<div class="">

    <div class="abc" style="margin-top: 30px;width: 90% ">
        <div class="row" style="display:flex">
            <div class="col-sm-7"
                style="margin-left: 5%;background-color: #e5ebe8;height: 610px;border-radius: 10px; padding-bottom: 30px;">
                <div class=" d-flex justify-content-center mt-4 ">

                    <div class="col-sm-4 d-flex">
                        <select #abc (change)="onSelected(abc.value)">
                            <option default>Pick a team</option>
                            <option>Lakers</option>
                            <option>Miami</option>
                            <option>Cleveland</option>
                        </select>
                        <span class="ml-3" style="border: 1px soild #534543;"><i class="fa fa-filter"></i></span>
                    </div>

                    <div class="">

                        <form class="form-inline">
                            <input [(ngModel)]="searchText" name="search" class="form-control mr-sm-3 w-90"
                                type="search" placeholder="Search" aria-label="Search">

                        </form>
                    </div>
                </div>

                <div class="row featured__filter" style="justify-content: flex-start">
                    <div class="col-lg-3  col-sm-6" *ngFor="let p of listProducts 
                    | searchFilter: searchText
                
                    | paginate: {
                        itemsPerPage: tableSize,
                        currentPage: page,
                        totalItems: count
                        };
                        let i = index" [class.active]="i == 1">
                        <div class="box_" style="height: 227px;">

                            <div class="img_box">
                                <img src="{{p.img}}" alt="123" style="width: 90%; height: 150px;">
                            </div>
                            <div class="text-center">
                                <span>{{p.name}}</span>

                            </div>
                            <div class="text-center">
                                <span>{{p.price}}</span>

                            </div>
                            <div class="hoveradd"
                                style="z-index: 100;;background: #5f9ea0; text-align: center; font-size: larger;border-radius: 2px;">
                                <!-- <button (click)="addCart(p)" type="submit" class="w3ls-cart">Add to cart</button> -->
                                <a><i class="fa fa-shopping-cart" style="margin-right: 15px;"></i></a>
                                <input (click)="addCart(p)" style="border: aliceblue; background: #5f9ea0;"
                                    type="submit" class="w3ls-cart hoverButton" value="Add to cart">
                            </div>

                        </div>

                    </div>

                </div>

            </div>
            <nav class="mt-4 " style="position: absolute" aria-label="Page navigation sample">
                <ul class="pagination" style="position: absolute;margin-top: 34%;margin-left: 23%;">
                    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="tabSize($event)">
                    </pagination-controls>
                </ul>
            </nav>
            <div class="col-sm-5 oder"
                style="background-color: cadetblue; width: 36%;height: 610px;border-radius: 10px; padding-bottom: 20px; margin: 0; padding-left: 10px; padding-right: 10px; position: relative;">
                <div class="mt-sm-2">
                    <div class="col-sm-4 d-flex">
                        <select #teams (change)="onSelected(teams.value)">
                            <option default>Mang đi</option>
                            <option>Bàn 1</option>
                            <option>Bàn 2</option>
                            <option>Bàn 3</option>
                        </select>
                        <span class="ml-3" style="border: 1px soild #534543;"><i class="fa fa-filter"></i></span>

                    </div>
                </div>
                <br>
                <div class="table mt-sm-2" style="margin-top: 5px; overflow-y: scroll;
               height: 420px;border-radius: 15px">
                    <table class="table table-bordered"
                        style=" border-collapse: collapse; width: 100%;border-radius: 10px">
                        <thead>
                            <tr>
                                <th>Tên</th>
                                <th class="text-center">
                                    Số lượng
                                </th>
                                <th>Giá</th>
                                <th>Xoá</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr class="hoverCol" *ngFor="let item of cartObj">
                                <td>{{item.nameProduct}}</td>
                                <td style="text-align: center;">
                                    <button class="button_icon" (click)="decrementQty(item.qty,item)"><i
                                            class="fa fa-minus " aria-hidden="true"></i></button>
                                    {{item.qty}}
                                    <button class="button_icon" (click)="incrementQty(item.qty,item)"><i
                                            class="fa fa-plus "> </i></button>
                                </td>
                                <!-- <div style="display: flex;flex-direction: inherit;justify-content: space-around;"> -->
                                <td>{{item.price}} </td>
                                <td style="text-align: center"><button style="width: fit-content"
                                        (click)="removeItem(item)" class="btn btn-danger"><i
                                            class="fas fa-trash-alt"></i></button></td>
                                <!-- </div>/ -->
                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="note" style="background-color: #FFF;
                width: 103.5%;
                height: 80px;
                margin-top: -10px;
                margin-left: -8px;
                border-top-left-radius: 7px;
                border-top-right-radius:7px ;display: flex">
                    <p style="justify-content: center;margin-top: 25px">Ghi chú : </p>
                    <input style="height: 80%;width: 50%;margin-top: 5px" [(ngModel)]="noteCheckout">
                    <div>
                        <p style="margin-left: 25%"> Tổng tiền : ${{cartTotalPrice}}</p>
                        <p style="margin-left: 11%"> Tiền khách đưa : <input style="width: 50%;height: fit-content;" [(ngModel)]="moneyFromCus" >
                        </p>
                    </div>
                </div>
                <div>

                </div>
                <div class="d-flex justify-content-center payment ">
                    <button style="width: 30%;" type="button" class="btn btn-info" data-toggle="modal"
                        data-target="#exampleModalCenter" (click)="checkoutCart()">
                        Thanh toán
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="margin: auto" role="document">
                            <div class="modal-content" style="width: 80%;" *ngFor="let b of listBill">
                                <div class="modal-header" style="text-align: center; display: block;">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Five-Coffee</h5>

                                    <div style="font-size: 30px; margin: 10px 20px;"><b>HÓA ĐƠN THANH TOÁN</b></div>
                                    <div style="width: 90%; margin: auto;">
                                        <div style="display: flex; justify-content: space-between;">
                                            <div class="popupDonHang">Nhân viên :   </div>
                                            <div class="popupDonHang">{{b.fullName}} </div>
                                        </div>
                                        <div style="display: flex; justify-content: space-between;">
                                            <div class="popupDonHang">Mã hoá đơn :  </div>
                                            <div class="popupDonHang">{{b.id}} </div>
                                        </div>
                                        <div style="display: flex; justify-content: space-between;">
                                            <div class="popupDonHang">Thời gian: </div>
                                            <div class="popupDonHang">{{b.dateCreate}}</div>
                                        </div>
                                        <div
                                            style="display: flex; justify-content: space-between; margin-bottom: 20px;">
                                            <div class="popupDonHang"> Hình thức : </div>
                                            <div class="popupDonHang" style="margin-bottom: 20px;"> {{b.payment_type}}</div>
                                        </div>
                                    </div>


                                </div>
                                <div class="modal-body">
                                    <table style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>Tên</th>
                                                <th class="text-center">
                                                    Số lượng
                                                </th>
                                                <th>Giá</th>
                                                <th>Tổng</th>
                                            </tr>
                                        </thead>

                                        <tbody *ngFor="let i of listBillItem">
                                            <tr class="hoverCol">
                                                <td class="nameItem" style=" text-align: justify">{{i.productName}}</td>
                                                <td style="text-align: center;">{{i.quantity}}</td>
                                                <td>{{i.productPrice}} </td>
                                                <td style="text-align: center">{{i.price}}</td>
                                            </tr>
                                           
                                           
                                        </tbody>
                                    </table>
                                </div>
                                <div style="margin-top: 20px;">
                                    <hr>
                                    <b>
                                        <div style="display: flex; justify-content: space-between;">
                                            <div class="popupDonHang">TỔNG TIỀN: </div>
                                            <div class="totalQuantity" style="margin-left: 25%">{{b.quantity}}</div>
                                            <div></div>
                                            <div class="popupDonHang totalPrice">{{b.totalPrice}} </div>
                                        </div>
                                    </b>
                                    <div style="display: flex; justify-content: space-between;">
                                        <div class="popupDonHang">Nhận Tiền mặt: </div>
                                        <div class="popupDonHang"><b>{{moneyFromCus}}</b></div>
                                    </div>
                                    <div style="display: flex; justify-content: space-between;">
                                        <div class="popupDonHang">Tiền Thừa: </div>
                                        <div class="popupDonHang"><b>{{moneyPayCus}}</b></div>
                                    </div>
                                    <div>
                                        <div class="" style="text-align: justify">Ghi chú : <b>{{noteCheckout}}</b> </div>
                                        
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeBill()">Close</button>
                                    <button type="button" class="btn btn-primary" (click)="closeBill()">In Hóa Đơn</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>