<app-header-home></app-header-home>
<div class="">

    <div class="abc" style="margin-top: 30px;width: 90% ">
        <div class="row" style="display:flex">
            <div class="col-sm-7"
                style="margin-left: 5%;background-color: #e5ebe8;height: 610px;border-radius: 10px; padding-bottom: 30px;">
                <div class=" d-flex justify-content-center mt-4 ">

                    <div class="col-sm-4 d-flex">
                        <select #selectElem (change)="setNewProduct(selectElem.value)">
                            <option [defaultSelected]="selectElem">Tất cả</option>
                            <option *ngFor="let c of listCategory" [value]="c.id">
                                {{c.name}}
                            </option>
                        </select>
                        <span class="ml-3" style="border: 1px soild #534543;"><i class="fa fa-filter"></i></span>
                    </div>

                    <div class="">

                        <form class="form-inline">
                            <input [(ngModel)]="searchText" name="search" class="form-control mr-sm-3 w-90"
                                type="search" placeholder="Search" aria-label="Search">

                        </form>
                    </div>
                </div>

                <div class="row featured__filter" style="justify-content: flex-start">
                    <div class="col-lg-3  col-sm-6" 
                    *ngFor="let p of listProducts 
                    | searchFilter: searchText
                
                    | paginate: {
                        itemsPerPage: tableSize,
                        currentPage: page,
                        totalItems: count
                        };
                        let i = index" [class.active]="i == 1">
                        <div class="box_" style="height: 227px;">
                            <a href="#">
                                <div class="img_box">
                                    <img src="{{p.img}}" alt="123" style="width: 90%; height: 150px;">
                                </div>
                                <div class="text-center">
                                    <span>{{p.name}}</span>
                                   
                                </div>
                                <div class="text-center">
                                    <span>{{p.price}}</span>
                                    
                                </div>
                                <div class="hoveradd" style="background: #5f9ea0; text-align: center; font-size: larger;border-radius: 2px;">
                                    <!-- <button (click)="addCart(p)" type="submit" class="w3ls-cart">Add to cart</button> -->
                                    <a href=""><i class="fa fa-shopping-cart" style="margin-right: 15px;"></i></a>
                                    <input (click)="addCart(p)" style="border: aliceblue; background: #5f9ea0;"  type="submit" class="w3ls-cart hoverButton" value="Add to cart">
                                </div>
                            </a>
                           
                        </div>

                    </div>

                </div>

            </div>
            <nav class="mt-4 " style="position: absolute" aria-label="Page navigation sample">
                <ul class="pagination" style="position: absolute;margin-top: 32%;margin-left: 23%;">
                    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="tabSize($event)">
                    </pagination-controls>
                </ul>
            </nav>
            <div class="col-sm-5 oder"
                style="background-color: cadetblue; width: 36%;height: 610px;border-radius: 10px; padding-bottom: 20px; margin: 0; padding-left: 10px; padding-right: 10px; position: relative;">
                <div class="mt-sm-2">
                    <div class="col-sm-4 d-flex">
                        <select name="" id="">
                            <option value="1">Mang đi</option>
                            <option value="1">Bàn 1</option>
                            <option value="1">Bàn 2</option>
                            <option value="1">bàn 3</option>


                        </select>

                        <span class="ml-3" style="border: 1px soild #534543;"><i class="fa fa-filter"></i></span>
                    </div>
                </div>
                <br>
                <div class="table mt-sm-2" style="margin-top: 5px; overflow-y: scroll;
               height: 420px;border-radius: 15px">
                    <table class="table table-bordered"
                        style=" border-collapse: collapse; width: 100%;border-radius: 10px">
                        <thead>
                            <tr>
                                <th>Tên</th>
                                <th class="text-center">
                                    Số lượng
                                </th>
                                <th>Giá</th>
                                <th>Xoá</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr class="hoverCol" *ngFor="let item of cartObj">
                                <td>{{item.nameProduct}}</td>
                                <td style="text-align: center;">
                                    <button class="button_icon" (click)="decrementQty(item.qty,item)"><i
                                            class="fa fa-minus " aria-hidden="true"></i></button>
                                    {{item.qty}}
                                    <button class="button_icon" (click)="incrementQty(item.qty,item)"><i
                                            class="fa fa-plus "> </i></button>
                                </td>
                                <!-- <div style="display: flex;flex-direction: inherit;justify-content: space-around;"> -->
                                <td>{{item.price}} </td>
                                <td style="text-align: center"><button style="width: fit-content"
                                        (click)="removeItem(item)" class="btn btn-danger"><i
                                            class="fas fa-trash-alt"></i></button></td>
                                <!-- </div>/ -->
                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="note" style="background-color: #FFF;
                width: 103.5%;
                height: 80px;
                margin-top: -10px;
                margin-left: -8px;
                border-top-left-radius: 7px;
                border-top-right-radius:7px ;display: flex">
                    <p style="justify-content: center;margin-top: 25px">Ghi chú : </p>
                    <input style="height: 80%;width: 50%;margin-top: 5px">
                    <div>
                        <p style="margin-left: 25%"> Tổng tiền : ${{cartTotalPrice}}</p>
                        <p style="margin-left: 11%"> Tiền khách đưa : <input style="width: 50%;height: fit-content;">
                        </p>
                    </div>
                </div>
                <div>

                </div>
                <div class="d-flex justify-content-center payment ">
                    <button  style="width: 30%;" type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter">
                        Thanh toán
                      </button>
                      
                      <!-- Modal -->
                      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="margin: auto" role="document">
                          <div class="modal-content" style="width: 80%;">
                            <div class="modal-header" style="text-align: center; display: block;"  >
                              <h5 class="modal-title" id="exampleModalLongTitle">Five-Coffee</h5>
                             
                                <div style="font-size: 30px; margin: 10px 20px;"><b>HÓA ĐƠN THANH TOÁN</b></div>
                                <div style="width: 90%; margin: auto;">
                                    <div style="display: flex; justify-content: space-between;">
                                        <div class="popupDonHang">STT: </div>
                                        <div class="popupDonHang">0003 </div>
                                    </div>
                                    <div style="display: flex; justify-content: space-between;">
                                        <div class="popupDonHang">Thời gian: </div>
                                        <div class="popupDonHang">20:20:20 Ngày 08/8/2022 </div>
                                    </div>
                                    <div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
                                        <div class="popupDonHang">BÀN: </div>
                                        <div class="popupDonHang" style="margin-bottom: 20px;"><b>12 </b></div>
                                    </div>
                                </div>
                                
            
                            </div>
                            <div class="modal-body">
                              <table style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Tên</th>
                                        <th class="text-center">
                                            Số lượng
                                        </th>
                                        <th>Giá</th>
                                        <th>Tổng</th>
                                    </tr>
                                </thead>
        
                                <tbody>
                                    <tr class="hoverCol" >
                                        <td>Cà Phê Sữa</td>
                                        <td style="text-align: center;">6</td>
                                        <td>20.000 </td>
                                        <td style="text-align: center">120.000</td>
                                    </tr>
                                    <tr class="hoverCol" >
                                        <td>Cà Phê Sữa</td>
                                        <td style="text-align: center;">6</td>
                                        <td>20.000 </td>
                                        <td style="text-align: center">120.000</td>
                                    </tr>
                                    <tr class="hoverCol" >
                                        <td>Cà Phê Sữa</td>
                                        <td style="text-align: center;">6</td>
                                        <td>20.000 </td>
                                        <td style="text-align: center">120.000</td>
                                    </tr>
                                    <tr class="hoverCol" >
                                        <td>Cà Phê Sữa</td>
                                        <td style="text-align: center;">6</td>
                                        <td>20.000 </td>
                                        <td style="text-align: center">120.000</td>
                                    </tr>
                                </tbody>
                              </table>
                            </div>
                            <div style="margin-top: 20px;">
                                <hr>
                                <b>
                                <div style="display: flex; justify-content: space-between;">
                                    <div class="popupDonHang">TỔNG TIỀN: </div>
                                    <div>24</div>
                                    <div></div>
                                    <div class="popupDonHang">440.000 </div>
                                </div>
                            </b>
                                <div style="display: flex; justify-content: space-between;">
                                    <div class="popupDonHang">Nhận Tiền mặt: </div>
                                    <div class="popupDonHang"><b>500.000 </b></div>
                                </div>
                                <div style="display: flex; justify-content: space-between;">
                                    <div class="popupDonHang">Tiền Thừa: </div>
                                    <div class="popupDonHang"><b>60.000 </b></div>
                                </div>
                            </div>
                            
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary">In Hóa Đơn</button>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>