#header{
    display: flex;
    margin:  auto;
    margin-bottom: 10px;
    background: #0090da ;
}
#header #logo{
    margin: 14px 36px;
}

#menu ul{
    display: flex;
    margin: 0px;
}

#menu ul a{
    text-decoration: none;
    text-transform: uppercase;
    color: #f1f1f1;
}

#menu ul li{
    padding: 14px 50px;
    text-decoration: none;
    list-style: none;
    background: #0090da;
   // border: 1px solid #465643;
}
#menu ul li:hover{
    background-color:#086391 ;
}
#menu ul li:active{
    background-color:#086391 ;

}

.hello-user{
    font-size: 15px;
    text-transform: none;
}
.btn-blue{
    background-color: transparent;
    font-size: 30px;
    padding: 0px;
    color: #f1f1f1;
    height: 45px;
}
.dropdown-item{
    color: black !important;
    text-transform: none !important; 
}
// #menu ul a:hover{
//     background-color:#086391 ;
// }
.sidepanel  {
    magin-left: 200px;
    width: 0;
    position: fixed;
    z-index: 1;
    height: 250px;
    top: 0;
    left: 0;
    background-color: #0090da;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .openbtn {
    magin-left: 200px;
    font-size: 20px;
    cursor: pointer;
    background-color: #0090da;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color:#086391;
  }